.main {
  background-color: #fff;
  position: relative;

  .banner {
    min-height: 500px;
    background-image: url("https://startup.kmu.ac.kr/img/main02.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 105px;
    
    .banner-container {
      display        : flex;
      flex-direction : column;
      align-items    : center;
      color : #fff;

      .banner-slogan {
        display        : flex;
        flex-direction : column;
        text-align: center;
        margin-top     : 20px;

        span {
          font-size: 40px;
        }
      }
    }

    
  }

  
}


@media screen and (max-width : 1000px) { 

  .main {
    
  
    .banner {
          
      .banner-container {
      
        .banner-slogan {
      
          span {
            font-size: 30px;
          }
        }
      }
  
      
    }
  
    
  }
}